@model SVM.Models.FeeStructure

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FeeStructure</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdmissionFees)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdmissionFees)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MonthlyFees)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MonthlyFees)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SessionId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SessionId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Class)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Class.ClassName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FeeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
