@model IEnumerable<SVM.Models.Session>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/List.css" asp-append-version="true" />
<p>
    <a class="btn-add" asp-action="Create">+</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SessionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            // Calculate status based on dates
            var today = DateOnly.FromDateTime(DateTime.Today);
            var statusText = "";
            var statusClass = "";

            if (today >= item.StartDate && today <= item.EndDate)
            {
                statusText = "Active";
                statusClass = "status-active";
            }
            else if (today < item.StartDate)
            {
                statusText = "Upcoming";
                statusClass = "status-upcoming";
            }
            else
            {
                statusText = "Expired";
                statusClass = "status-expired";
            }

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SessionName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    <span class="@statusClass">@statusText</span>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.SessionId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.SessionId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.SessionId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>