@model SVM.Models.Timetable

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Timetable</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DayName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DayName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LectureNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LectureNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsBreak)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsBreak)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Session)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Session.SessionName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Class)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Class.ClassName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Section)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Section.SectionName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subject.SubjectId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Staff)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Staff.StaffId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TimetableId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
